extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Advice Consulting
block page

    .block_preim_krug_art6
        .block_preim_krug_art6__container
            .block_preim_krug_art6__list

                -
                    var preim_list = [
                        {icon: './images/block_preim_krug_art6/icon_1.svg', descr: 'Опыт на международном рынке более 8 лет'},
                        {icon: './images/block_preim_krug_art6/icon_2.svg', descr: ' 97% приживаемость посадочного материала'},
                        {icon: './images/block_preim_krug_art6/icon_3.svg', descr: 'Более 10 000 гектар питомников'},
                        {icon: './images/block_preim_krug_art6/icon_4.svg', descr: 'Доставка в любую точку мира'},
                        {icon: './images/block_preim_krug_art6/icon_5.svg', descr: ' Более 3000 видов саженцев '},
                        {icon: './images/block_preim_krug_art6/icon_6.svg', descr: 'Полный спектр услуг по выращиванию садов'}
                    ]
                
                each item in preim_list

                    .block_preim_krug_art6__item 
                        img.block_preim_krug_art6__icon(src= item.icon  alt="" decoding="async" loading="lazy" width="69" height="69")
                        span.block_preim_krug_art6__descr= item.descr











